html {
    --alt-text-color: #fff;
    --bar-border-color: #dfe1e5;
    --blue-tone-ac: #4285f4;
    --blue-tone1-ac: #4387fd;
    --blue-tone2-ac: #4683ea;
    --gray-tone-bb: #e4e4e4;
    --gray-tone-ic: #9aa0a6;
    --gray-tone-sm: #f2f2f2;
    --gray-tone1-sm: #f5f5f5;
    --gray-tone2-sm: #f1f1f1;
    --gray-tone3-sm: #f8f8f8;
    --gray-tone4-sm: #c6c6c6;
    --main-bg-color: #fff;
    --main-text-color: #222;
    --min-width: 980px;
    --sb-container-width: 833px;
    --sb-text-color: rgba(0, 0, 0, .87);
    --sb-top-offset: 311px;
    --sb-width: 484px;
    --sm-text-color: #5f6368;
    --sm-width: 487px
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: arial, sans-serif;
    height: 100%;
    margin: 0;
    width: 100%
}

div#viewport {
    margin: 0 auto;
    min-height: 100%;
    min-width: var(--min-width);
    position: absolute;
    top: 0;
    width: 100%
}

div#top-bar {
    font-size: 13px;
    position: relative;
    top: 16px
}

div#top-buttons {
    align-items: center;
    display: flex;
    float: right;
    min-width: 220px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right
}

div#top-links {
    display: flex;
    line-height: normal;
    padding-right: 15px;
    white-space: nowrap
}

div.top-link:first-child {
    padding-left: 0
}

div.top-link {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    vertical-align: middle
}

a.top-link {
    color: var(--main-text-color);
    display: inline-block;
    line-height: 24px;
    outline: 0;
    text-decoration: none;
    vertical-align: middle
}

div#top-ics-buttons {
    display: flex;
    line-height: normal;
    min-width: 114px;
    position: relative;
    text-align: left
}

a.top-ics {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png)
}

a.top-ics-hv:focus,
a.top-ics-hv:hover {
    opacity: .85 !important
}

a#gapps {
    background-position: -132px -38px;
    height: 30px;
    opacity: .55;
    width: 30px
}

a#login {
    background: linear-gradient(90deg, var(--blue-tone1-ac) 0, var(--blue-tone2-ac) 100%);
    border: 1px solid var(--blue-tone-ac);
    border-radius: 2px;
    color: var(--alt-text-color);
    cursor: default;
    font-weight: 700;
    line-height: 28px;
    padding: 0 12px
}

.ctr-p {
    margin: 0 auto;
    min-width: var(--min-width)
}

div#super-form {
    position: absolute;
    top: var(--sb-top-offset);
    width: 100%;
    z-index: 100
}

form#search {
    margin: 0 auto;
    width: var(--sb-container-width)
}

div#form-container {
    margin: 0 auto;
    padding-top: 6px;
    width: var(--sb-width)
}

div#search-container {
    background: #fff;
    border: 1px solid var(--bar-border-color);
    border-radius: 24px;
    display: flex;
    height: 44px
}

div#search-container:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28)
}

div#search-elements {
    display: flex;
    flex: 1;
    padding: 5px 8px 0 16px;
    padding-left: 14px
}

div#search-icon-container {
    display: flex;
    margin-top: -5px;
    padding-right: 13px
}

div.bar-ics {
    margin: auto
}

span.search-icon {
    color: var(--gray-tone-ic);
    display: inline-block;
    fill: currentColor;
    height: 20px;
    margin-top: 3px;
    width: 20px
}

div#search-input-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap
}

input.bar-input {
    background-color: transparent;
    border: none;
    color: var(--sb-text-color);
    display: flex;
    flex: 100%;
    font: 16px arial, sans-serif;
    height: 34px !important;
    outline: 0;
    padding: 0;
    word-wrap: break-word
}

div#stt-icon-container {
    align-items: stretch;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    margin-top: -5px
}

span#stt-icon {
    padding-left: 8px;
    padding-right: 8px;
    width: 24px
}

div#submit-container {
    padding-top: 18px;
    width: var(--sm-width)
}

input.sb {
    background: linear-gradient(90deg, var(--gray-tone1-sm) 0, var(--gray-tone2-sm) 100%);
    border: 1px solid var(--gray-tone-sm);
    border-radius: 4px;
    color: var(--sm-text-color);
    cursor: pointer;
    font: 14px/27px arial, sans-serif;
    height: 36px;
    margin: 11px 4px;
    min-width: 54px;
    outline: 0;
    padding: 0 16px
}

input.sb:hover,
input.sb:active,
input.sb:focus {
    background: linear-gradient(90deg, var(--gray-tone3-sm) 0, var(--gray-tone2-sm) 100%);
    border: 1px solid var(--gray-tone4-sm);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: var(--main-text-color)
}

div#img-ctr {
    margin-top: 89px
}

img#glogo {
    height: 92px;
    padding-top: 109px
}

a.bot-link {
    color: #5f6368;
    outline: 0;
    padding-left: 23px;
    text-decoration: none
}

span#bot-rgt {
    float: right;
    margin-right: 30px
}

div#bot-bar-container {
    background: var(--gray-tone-sm);
    bottom: 0;
    position: fixed
}

div#bot-bar {
    border-top: 1px solid var(--gray-tone-bb);
    font-size: 14px;
    line-height: 40px;
    min-width: 980px
}

span#bot-lft {
    float: left;
    padding-left: 7px
}

a.top-link-hv:focus,
a.top-link-hv:hover,
a.top-link-hv:active,
a.top-link-hv:focus,
a.top-link-hv:hover,
a.bot-link:focus,
a.bot-link:hover {
    text-decoration: underline !important
}
